body {
	background: url(images/black_thread.png) repeat;
	color: #aaa;
}

h1 {
	font-family: "Terminal Dosis";
}

.header {
	background-color: #aaaaaa;
}

.playground {
	background-color: #444;
}

.playground-board {
	position: relative;
	height: 400px;
}

.pawn {
	position: absolute;
	font-family: "Droid Sans";
	font-size: 24px;
	width: 24px;
	height: 22px; 
	cursor: move;
}

.pawn-1 {
	color: yellow;
}

.pawn-2 {
	color: red;
}

.pawn-3 {
	color: green;
}

.pawn-4 {
	color: cyan;
}